body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  font-size: 32px;
  font-weight: 900;
  padding: 0 16px;
  align-items: center;
  margin: 0;
}

.content {
  display: flex;
  flex-direction: row;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  flex-shrink: 0;
  padding: 16px;
}

.view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 32px;
  gap: 32px 32px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 200px;
  padding: 14px;
  font-size: 14px;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}